main div.discoverblock-container-wrapper div.discover-container:has(.discover.background-color-white) {
    background-color: white !important;
}

main div.discoverblock-wrapper div.discover-child-container a {
    font-size: 16px;
    text-decoration: none;
    color: #0054b6;
}


main div.discoverblock-container-wrapper div.discover-child-inner-container {
    display: flex;
    gap: 30px;
}

main div.discoverblock-container-wrapper div.discover-img-child-container {
    width: 50%;
}

@media screen and (max-width : 1300px) {
    .discover {
        width: 768px !important;
    }

    main div.discoverblock-container-wrapper div.discover-child-container {
        width: 33.3%;
        padding: 20px;
    }
}

@media screen and (max-width : 800px) {
    .discover {
        width: 600px !important;
    }

    main div.discoverblock-container-wrapper div.discover-child-container {
        width: 50%;
        padding:20px;
    }
}

@media screen and (max-width : 650px) {
    .discoverblock {
        width: 370px !important;
    }

    main div.discoverblock-container-wrapper div.discover-child-container {
        width: 100%;
        padding: 20px;
    }
}
main div.discoverblock-container-wrapper{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin: 20px 0;
    row-gap: 40px;
}
main div.discoverblock-wrapper div.discoverblock-column .discover-child-container{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
main div.discoverblock-container-wrapper div.discover-nonheading-child-container.discover-child-container {
    font-size: 16px;
}
main div.discoverblock-wrapper div.discoverblock-container-wrapper .discover-child-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}